gym==0.26.0
gymnasium==0.28.1
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.2
pygame==2.5.0
PyYAML==6.0.1
seaborn==0.12.2
smaclite==0.0.1
tensordict==0.1.2
torch==2.0.1
torchrl==0.1.1
torchsnapshot==0.1.0
tqdm==4.65.0
wandb==0.15.7
